extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

    p This portfolio contains some of the projects that i built throughout my time with Treehouse using some of the most popular technologies widely used.



  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell
          a(href='/projects/${project.id}')
            img.thumbnail(src='${project.thumbnail}', alt='Thumbnail')
            h5= `${project.project_name}`

